/dts-v1/;
/plugin/;

/{
    compatible = "brcm,bcm2712";

    // DSI Display Configuration
    dsi_frag: fragment@0 {
        target = <&dsi1>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            
            port {
                dsi_out: endpoint {
                    remote-endpoint = <&panel_in>;
                };
            };
            
            panel@0 {
                compatible = "himax,hx83102e", "himax,hx83102";
                reg = <0>;
                reset-gpios = <&gpio 17 1>;
                backlight = <&pwm_backlight>;
                rotation = <270>;
                
                port {
                    panel_in: endpoint {
                        remote-endpoint = <&dsi_out>;
                    };
                };
            };
        };
    };

    // SPI Touch Configuration - don't configure SPI itself
    fragment@1 {
        target = <&spi0>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            
            himax_ts: himax@0 {
                compatible = "himax,hxcommon";
                reg = <0>;
                spi-max-frequency = <10000000>;
                
                himax,panel-coords = <0 1200 0 2000>;
                himax,display-coords = <0 1200 0 2000>;
                
                himax,irq-gpio = <&gpio 20 0x2008>;
                himax,rst-gpio = <&gpio 7 0x00>;  // Now GPIO7 is free
                
                interrupt-parent = <&gpio>;
                interrupts = <20 0x2008>;
                
                // Project-specific configuration
                himax,proj-name = "productshop";
                productshop,rx-num = <50>;
                productshop,tx-num = <32>;
                productshop,bt-num = <0>;
                productshop,max-pt = <10>;
                productshop,int-edge = <1>;
                productshop,stylus-func = <0>;
                
                report_type = <1>;
                
                status = "okay";
            };
        };
    };

    // PWM Configuration for Backlight
    fragment@2 {
        target = <&rp1_pwm0>;
        __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <&pwm_pins>;
            status = "okay";
        };
    };

    // GPIO Pin Configuration
    fragment@3 {
        target = <&gpio>;
        __overlay__ {
            pwm_pins: pwm_pins {
                brcm,pins = <18>;
                brcm,function = <2>;  // Alt5 (PWM0)
            };
        };
    };

    // Backlight Device
    fragment@4 {
        target-path = "/";
        __overlay__ {
            pwm_backlight: backlight {
                compatible = "pwm-backlight";
                pwms = <&rp1_pwm0 0 20000 0>;
                brightness-levels = <0 4 8 16 32 48 64 96 128 160 192 224 240 255>;
                default-brightness-level = <10>;
                status = "okay";
            };
        };
    };

    __overrides__ {
        // DSI overrides
        dsi0 = <&dsi_frag>, "target:0=",<&dsi0>;
        
        // Touch overrides
        spi_freq = <&himax_ts>, "spi-max-frequency:0";
        irq_gpio = <&himax_ts>, "himax,irq-gpio:4";
        rst_gpio = <&himax_ts>, "himax,rst-gpio:4";
    };
};