/dts-v1/;
/plugin/;

/{
    compatible = "brcm,bcm2712";

    // DSI Display Configuration
    dsi_frag: fragment@0 {
        target = <&dsi1>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            
            port {
                dsi_out: endpoint {
                    remote-endpoint = <&panel_in>;
                };
            };
            
            // ProductShop Himax HX83102E Panel - using kernel driver
            panel@0 {
                compatible = "himax,hx83102e";
                reg = <0>;  // DSI virtual channel
                
                // LCD reset pin according to ProductShop pinout  
                reset-gpios = <&rp1_gpio 17 1>;  // GPIO17 (LCD_RESET), active low (1 = inverted)
                
                // Backlight reference
                backlight = <&pwm_backlight>;
                
                // Physical dimensions for ProductShop 12" display
                width-mm = <135>;
                height-mm = <216>;
                
                port {
                    panel_in: endpoint {
                        remote-endpoint = <&dsi_out>;
                    };
                };
            };
        };
    };

    // Free GPIO7 from SPI CS1 usage
    fragment@1 {
        target = <&rp1_gpio>;
        __overlay__ {
            // Explicitly configure GPIO7 as general purpose before SPI claims it
            gpio7_touch_reset: gpio7_touch_reset {
                brcm,pins = <7>;
                brcm,function = <1>;  // Output
                brcm,pull = <0>;      // No pull
            };
        };
    };


    // GPIO Pin Configuration
    fragment@3 {
        target = <&rp1_gpio>;
        __overlay__ {
            // Display GPIO pins
            lcd_reset_pins: lcd_reset_pins {
                brcm,pins = <17>;     // GPIO17 (LCD_RESET)
                brcm,function = <1>;  // Output
                brcm,pull = <0>;      // No pull
            };
            
            pwm_pins: pwm_pins {
                pins = "gpio18";
                function = "pwm0";
            };
            
            
            // Touch GPIO pins
            touch_irq_pins: touch_irq_pins {
                brcm,pins = <20>;         // Touch interrupt GPIO20
                brcm,function = <0>;      // Input
                brcm,pull = <2>;          // Pull-up
            };
            
            touch_reset_pins: touch_reset_pins {
                brcm,pins = <7>;          // Touch reset GPIO7 (LCD_TOUCH_RST)
                brcm,function = <1>;      // Output
                brcm,pull = <0>;          // No pull
            };
        };
    };

    // PWM Configuration for Backlight
    fragment@4 {
        target = <&rp1_pwm0>;
        __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <&pwm_pins>;
            status = "okay";
        };
    };


    // Backlight Device
    fragment@6 {
        target-path = "/";
        __overlay__ {
            pwm_backlight: backlight {
                compatible = "pwm-backlight";
                pwms = <&rp1_pwm0 2 25000 0>;
                brightness-levels = <0 4 8 16 32 48 64 96 128 160 192 224 240 255>;
                default-brightness-level = <10>;
                status = "okay";
            };
        };
    };

    // Disable power button to free GPIO20 for touch interrupt
    fragment@8 {
        target-path = "/pwr_button";
        __overlay__ {
            status = "disabled";
        };
    };

    // SPI Touch Device Configuration - Configure RP1 SPI0 (same as spi0-1cs approach)
    fragment@9 {
        target = <&rp1_spi0>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            cs-gpios = <&rp1_gpio 8 1>;  // Configure CS0 on GPIO8, active low (like spi0-1cs)
            
            himax_ts: himax_ts@0 {
                compatible = "himax,hxcommon";
                reg = <0>;  // Use chipselect 0
                spi-max-frequency = <10000000>;
                himax,panel-coords = <0 1200 0 2000>;
                himax,display-coords = <0 1200 0 2000>;
                himax,irq-gpio = <&rp1_gpio 20 0x2008>;
                himax,rst-gpio = <&rp1_gpio 7 0x00>;
                interrupt-parent = <&rp1_gpio>;
                interrupts = <20 0x2008>;
                status = "okay";
            };
        };
    };

    // Disable conflicting spidev device on RP1 SPI using proper path
    spidev_fragment: fragment@10 {
        target-path = "/axi/pcie@120000/rp1/spi@50000/spidev@0";
        __overlay__ {
            status = "disabled";
        };
    };

    __overrides__ {
        // DSI overrides
        dsi0 = <&dsi_frag>, "target:0=",<&dsi0>;
        
    };
};